

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>Virtual Advisor</title>

    <!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Exchange Education a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //For-Mobile-Apps -->

    <!-- Custom Theme files -->
    <!-- Bootstrap Styling --> <link rel='stylesheet' href="css/bootstrap.css" type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> <script src="js/jquery.min.js"></script>
    <!-- Bootstrap-Working-File --> <script src="js/bootstrap.min.js"></script>
    <!-- Index-Page-Styling --> <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Owl-Carousel-Styling --> <link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">
    <!-- //Custom Theme files -->

    <!-- Smooth-Scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
            });
        });
    </script>
    <!-- //Smooth-Scrolling -->

    <!-- Calender-JavaScript -->
    <link rel="stylesheet" href="css/clndr.css" type="text/css" />
    <script src="js/underscore-min.js" type="text/javascript"></script>
    <script src= "js/moment-2.2.1.js" type="text/javascript"></script>
    <script src="js/clndr.js" type="text/javascript"></script>
    <script src="js/site.js" type="text/javascript"></script>
    <!-- //Calender-JavaScript -->

</head>

<style>
    #textAreaStyle {
        width: 600px;
        height: 120px;
        border: 3px solid #cccccc;
        padding: 5px;
        font-family: Tahoma, sans-serif;
    }
</style>

<!-- Body-Starts-Here -->
<body>
<img src="images/stevens.jpeg" style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;opacity:0.8;'>
<!-- Header-Starts-Here -->
<div class="header">

    <!-- Navbar-Starts-Here -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Logo --><a class="navbar-brand" href="#">Virtual Advisor</a><!-- //Logo -->

            </div>

            <!-- Navbar-Collapse -->
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">

                    <li><a href="#about" class="scroll">About Us</a></li>
                    <li><a href="#foreword" class="scroll">Events</a></li>
                    <li><a href="#Department" class="scroll">Departments</a></li>
                    <li><a href="#contact" class="scroll">Contact</a></li>
                    <% if (userName.length == 0) { %>
                    <!-- Login-Button -->
                    <li><a href="#login"><span>Login</span></a></li>
                    <!-- //Login-Button -->

                    <!-- Signup-Button -->
                    <li><a href="#signup" ><span>Signup</span></a></li>
                    <!-- //Signup-Button -->
                    <% } %>

                    <!----------------------profile-Button ----------------------------------------------->
                    <% if (userName.length > 0) { %>
                    <script>
                        /*$(document).ready(function(){
                            $("#profile-button").click(function(){
                                window.location.href = window.location.protocol + "//" + window.location.host + "/student";
                            });
                            $("#loginButton").click(function(){
                                console.log("inkkkk");
                                window.location.href = window.location.protocol + "//" + window.location.host + "/login";
                            });
                            $("#signupButton").click(function(){
                                window.location.href = window.location.protocol + "//" + window.location.host + "/signup";
                            });
                        });*/
                    </script>

                    <li id="profile-button"><a type="button" class="btn btn-primary" href="#profile"><span><%= userName %><span></a></li>
                    <% } %>
                    <!------------------------------------------------------------------------------------->


                </ul>
            </div>
            <!-- //Navbar-Collapse -->

        </div>
    </nav>
    <!-- //Navbar-Ends-Here -->

    <!-- Carousel-Starts-Here -->

    <!-- //Carousel-Ends-Here -->

</div>
<!-- Header-Ends-Here -->

<!-- Content-Starts-Here -->
<div class="content">

    <!-- Heading --><h1 class="abbr">SCHOOL FOR STUDENT EXCHANGE, ENGINEERING & TECHNOLOGY</h1><!-- //Heading -->

    <div class="container">

 <!-- About-Starts-Here -->
        <div class="about slideanim" id="about">
            <img class="logo" src="images/virtualAdvisorLoo.gif" alt="Logo" width="350" height="350" align="left" />
            <div style="padding:12px;background-color:#fff;line-height:1.4;">
            <h2>What is Virtual Advisor?</h2>
            <p> A system that assists Stevens’ students in knowing what classes are required, what classes he/she has taken, and when those classes are offered for his/her chosen major and/or minor. Unlike a human advisor, this system will show every possible path with its requirements, alumni reviews, and jobs opportunities. In addition, it lets the students choose in what direction to move forward.</p>
            </div>
            <div class="about-info slideanim">
                <div class="col-md-6 col-sm-6" id="about-pic">
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //About-Ends-Here -->

            <!-- Foreword-Starts-Here -->
            <div class="foreword slideanim" id="foreword">
                <div style="padding:12px;background-color:#fff;line-height:1.4;">
                <h3> Events</h3>
                <p>Today networking has become an essential aspect of your job search. Even if you are well established in your job and have no plans of moving or advancing your career soon, networking has proven to be a valuable tool. Today, studies have shown that up to 80% of jobs are never advertised – they are filled by word of mouth. So it’s who you know and who knows you that matters. You must develop relationships and connections within your network to have more opportunities to advance your career.   Attending meetings and social events hosted by your professional association is a great way to connect with people in your field.</p>
                </div>
                <div class="floating-box"><iframe width="225" height="570" src="http://meetu.ps/30XFs9" frameborder="0"></iframe></div>
                <div class="floating-box"><iframe width="225" height="570" src="http://meetu.ps/30XTfS" frameborder="0"></iframe></div>
            </div>
            <!-- //Foreword-Ends-Here -->

            <!-- Admissions-Starts-Here -->
            <div class="contact slideanim" id="Department">
            <div style="padding:12px;background-color:#fff;line-height:1.4;">
                <h3>Unique Curriculum, National Recognition</h3>
                <p>A Stevens education is different. Educated by a unique curriculum blending technical training, teamwork, design projects, internships and cooperative education opportunities, Stevens graduates are consistently in high demand by industry leaders and agencies seeking highly prepared, solutions-oriented employees and team members. Stevens graduates also enjoy starting and mid-career salaries that outpace those of graduates of nearly all other U.S. higher educational institutions. Learn more about career services at Stevens.

                    U.S. News & World Report rankings of higher education institutions have recognized Stevens as one of the nation's top universities since 2011. Stevens has been accredited by the Middle States Commission on Higher Education since 1927, the Accreditation Board for Engineering and Technology (ABET) since 1936, and the Association to Advance Collegiate Schools of Business (AACSB) since 2015.

                    Stevens is home to three National Centers of Excellence, as well as dozens of joint research programs, facilities and centers focused on critical industries such as cybersecurity, defense, energy, finance, healthcare, homeland and maritime security, STEM education and urban and coastal resilience. We also maintain extensive professional networks and relationships with leading universities, government agencies and industry.</p>
                </div>    
                <script>
                    var app = angular.module('depApp', []);
                    app.controller('dropdownDepartments', function ($scope, $http) {

                        $scope.LoadMajors=function(program)
                        {
                            $scope.course = []
                            $scope.electives = []

                            $http.post('http://localhost:3000/api/req'
                                    ,{ 'id' : program._id[0] }).success(function(result)
                                    {
                                        $scope.requirements = result;
                                        if ($scope.requirements.Requirements.Core.length > 0)
                                        {
                                            // Looping through the course list for Majors
                                            for(var i = 0; i < $scope.requirements.Requirements.Core.length; i++)
                                            {
                                                $scope.course = $scope.requirements.Requirements.Core[i];
                                            }

                                        }
                                        if ($scope.requirements.Requirements.Electives.length > 0)
                                        {
                                            // Looping through the course list for Majors
                                            for(var i = 0; i < $scope.requirements.Requirements.Electives.length; i++)
                                            {
                                                $scope.electives = $scope.requirements.Requirements.Electives[i];
                                            }

                                        }

                                    });
                        };

                        $scope.LoadMinors=function(program)
                        {
                            $scope.course = []
                            $http.post('http://localhost:3000/api/req'
                                    ,{ 'id' : program._id[0] }).success(function(result)
                                    {
                                        $scope.requirements = result;
                                        if($scope.requirements.CoursesList.length > 0)
                                        {
                                            //Looping through the course list for certificates
                                            for(var i = 0; i < $scope.requirements.CoursesList.length; i++)
                                            {
                                                $scope.course = $scope.requirements.CoursesList[i];
                                            }
                                        }

                                    });
                        };

                        $scope.LoadCertificates=function(program)
                        {
                            $scope.course = []
                            $http.post('http://localhost:3000/api/req'
                                    ,{ 'id' : program._id[0] }).success(function(result)
                                    {
                                        $scope.requirements = result;
                                        if($scope.requirements.CoursesList.length > 0)
                                        {
                                            //Looping through the course list for certificates
                                            for(var i = 0; i < $scope.requirements.CoursesList.length; i++)
                                            {
                                                $scope.course = $scope.requirements.CoursesList[i];
                                            }
                                        }

                                    });
                        };

                        $scope.loadPrograms=function(department)
                        {


                            $scope.majors=[]
                            $scope.minors=[]
                            $scope.certificates=[]
                            $http.post('http://localhost:3000/api/programs'
                                    ,{ 'department' : department }).success(function(result)
                                    {

                                        for(i=0;i<result.length;i++)
                                        {
                                            type = [result[i].Type]
                                            if(type=="Major")
                                                $scope.majors.push({"Title":[result[i].Title],"_id":[result[i]._id]});
                                            else if(type=="Minor")
                                                $scope.minors.push({"Title":[result[i].Title],"_id":[result[i]._id]});
                                            else if(type=="Certificate")
                                                $scope.certificates.push({"Title":[result[i].Title],"_id":[result[i]._id]});

                                        }


                                    });
                        };
                        $scope.departments = [];
                        $http.get('http://localhost:3000/api/departments').success(function (result) {
                            $scope.departments = result

                        });




                    });
                </script>
            </div>
            <div class="contact slideanim"   ng-app="depApp" ng-controller="dropdownDepartments">
                <div style="padding:12px;background-color:#fff;line-height:1.4;">
                <h3>PROGRAMS</h3>
                <form id="contactform">
                    <label for="dept">Departments: </label>
                    <select id="dept" style="width: 20em;" ng-model="department" ng-change="loadPrograms(department)"  ng-options="d for d in departments">
                    </select>
                    <br>
                    <br>
                    <label for="dept">Majors: </label>
                    <select id="dept" style="width: 20em;" ng-model="major" ng-change="LoadMajors(major)" ng-options="p.Title for p in majors">
                    </select>
                    <br>
                    <br>

                    <label for="dept">Minors: </label>
                    <select id="dept" style="width: 20em;" ng-model="minor" ng-change="LoadMinors(minor)" ng-options="p.Title for p in minors">
                    </select>
                    <br>
                    <br>

                    <label for="dept">Certificates: </label>
                    <select id="dept" style="width: 20em;" ng-model="certificate" ng-change="LoadCertificates(certificate)" ng-options="p.Title for p in certificates">
                    </select>
                    <br>
                    <br>
                    <textarea readonly json-text style="font-family:sans-serif;font-size:15pt" name="Text1" cols="40" rows="5">{{"Requirements to Achieve Major, Minor or Certificate Degree \nRequired Courses: "+course.Required+"\nList of Courses: " + course.Courses + "\nTotal Credits: " + requirements.Requirements.Credits}}</textarea> <br>
                    </div>
                </form>

            </div>

            <!-- //Admissions-Ends-Here -->

            <!-- Events-Starts-Here -->

            <!-- //Events-Ends-Here -->

            <!-- News-Starts-Here -->

            <!-- //News-Ends-Here -->

            <!-- Contact-Starts-Here -->
            <div class="contact slideanim" id="contact">
                <div style="padding:12px;background-color:#fff;line-height:1.4;">
                <h3>CONTACT</h3>
                <form class="contact_form">

                    <div class="message">
                        <div class="col-md-6 col-sm-6 grid_6 c1">
                            <input type="text" class="text" value="Name" placeholder="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                            <input type="text" class="text" value="Email" placeholder="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                            <input type="text" class="text" value="Phone" placeholder="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
                        </div>

                        <div class="col-md-6 col-sm-6 grid_6 c1">
                            <textarea placeholder="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <input type="submit" class="more_btn" value="Send Message">
                </form>
                </div>
            </div>
            <!-- //Contact-Ends-Here -->



            <!-- Map-iFrame -->
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6890702918663!2d-74.02803538481079!3d40.746866779328066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259de94dced4f%3A0xd4c9d146086e72ae!2sStevens+Institute+of+Technology!5e0!3m2!1sen!2sus!4v1476978133727"allowfullscreen></iframe>
            </div>
            <!-- //Map-iFrame -->


            <!-- Content-Ends-Here -->

            <!-- Footer-Starts-Here -->
            <div class="footer slideanim">

                <div class="container">

                    <div class="footer-info slideanim">

                        <div class="col-md-4 col-sm-4 f2">
                            <h3 class="address">Address</h3>
                            <address>
                                <ul>
                                    <li>Stevens Institute of Technology</li>
                                    <li>Castle Point Terrace</li>
                                    <li>Hoboken NJ</li>
                                    <li>Telephone : +1 (201) 216-5000</li>
                                    <li>Email : <a class="mail" href="mailto:www.stevens.edu">www.stevens.edu</a></li>
                                </ul>
                            </address>
                        </div>
                        <div class="col-md-2 col-sm-2 f3" id="qlinks">
                            <h3>Links</h3>
                            <ul class="footer_list">
                                <li><a href="#about" class="scroll">About us</a></li>
                                <li><a href="#foreword" class="scroll">Events</a></li>
                                <li><a href="#Department" class="scroll">Department</a></li>
                                <li><a href="#contact" class="scroll">Contact</a></li>
                                <li><a href="#contact" class="scroll">LogIn</a></li>
                                <li><a href="#project" class="scroll">Signup</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <div class="copyright">
                        <p>&copy; 2016 Stevens Institute of technology | SSW 690  <a href="http://w3layouts.com/"> Studio Course </a></p>
                    </div>

                </div>

                <!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
                <script type="text/javascript">
                    $(document).ready(function() {
                        /*
                         var defaults = {
                         containerID: 'toTop', // fading element id
                         containerHoverID: 'toTopHover', // fading element hover id
                         scrollSpeed: 1200,
                         easingType: 'linear'
                         };
                         */
                        $().UItoTop({ easingType: 'easeOutQuart' });
                    });
                </script>
                <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
                <!-- //Slide-To-Top JavaScript -->

            </div>
            <!-- //Footer-Ends-Here -->

            <script>
                $(document).ready(function(){
                    // Add smooth scrolling to all links in navbar + footer link
                    $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

                        // Prevent default anchor click behavior
                        event.preventDefault();

                        // Store hash
                        var hash = this.hash;
                        console.log("hash:"+hash);


                        if( hash =="#profile"){
                            window.location.href = window.location.protocol + "//" + window.location.host + "/student";
                            return;
                        }else if(hash=="#login"){
                            window.location.href = window.location.protocol + "//" + window.location.host + "/login";
                            return;
                        }else if(hash=="#signup"){
                            window.location.href = window.location.protocol + "//" + window.location.host + "/signup";
                            return;
                        }



                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 900, function(){

                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        });
                    });

                    $(window).scroll(function() {
                        $(".slideanim").each(function(){
                            var pos = $(this).offset().top;

                            var winTop = $(window).scrollTop();
                            if (pos < winTop + 600) {
                                $(this).addClass("slide");
                            }
                        });
                    });
                })
            </script>
        </div>
    </div>
</div>
</body>
<!-- Body-Ends-Here -->

</html>