
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>Virtual Advisor</title>


    <!-- Custom Theme files -->
    <!-- Bootstrap Styling --> <link rel='stylesheet' href="css/bootstrap.css" type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> <script src="js/jquery.min.js"></script>
    <!-- Bootstrap-Working-File --> <script src="js/bootstrap.min.js"></script>
    <!-- Index-Page-Styling --> <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Owl-Carousel-Styling --> <link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">
    <!-- //Custom Theme files -->

    <!-- Smooth-Scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
            });
        });
    </script>
    <!-- //Smooth-Scrolling -->

    <!-- Calender-JavaScript -->
    <link rel="stylesheet" href="css/clndr.css" type="text/css" />
    <script src="js/underscore-min.js" type="text/javascript"></script>
    <script src= "js/moment-2.2.1.js" type="text/javascript"></script>
    <script src="js/clndr.js" type="text/javascript"></script>
    <script src="js/site.js" type="text/javascript"></script>
    <!-- //Calender-JavaScript -->

</head>


<!-- Body-Starts-Here -->
<body>

<!-- Header-Starts-Here -->
<div class="header">
<body >

    <!-- Navbar-Starts-Here -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Logo --><a class="navbar-brand" href="#">Virtual Advisor</a><!-- //Logo -->

            </div>



        </div>
    </nav>
    <!-- //Navbar-Ends-Here -->

    <!-- Carousel-Starts-Here -->

    <!-- //Carousel-Ends-Here -->

</div>
<script>
    var app = angular.module('depApp', []);
    app.controller('dropdownDepartments', function ($scope, $http) {
        //First Loading all the departments
        $scope.departments = [];
        $http.get('http://localhost:3000/api/departments').success(function (result) {
            $scope.departments = result
        });
        $scope.advisors = [];
        $http.get('http://localhost:3000/api/advisors').success(function (result) {
            $scope.advisors = result
        });
         //Student Info
        $scope.student_email=null
        $scope.student_password=null
        $scope.student_password_confirmed=false
        $scope.student_program=null
        $scope.student_advisor=null
        $scope.student_cores=[]
        $scope.student_electives=[]
        $scope.cores = []
            //Once the major selected -- load all the courses
        $scope.LoadMajors=function(program)
        {
            if(program!=null)
            {
                $scope.student_program = program._id[0];
                $scope.certificate = "";
                $scope.minor = "";
                $scope.cores = []

                $http.post('http://localhost:3000/api/req'
                        , {'id': program._id[0]}).success(function (result) {

                    cores = result.Requirements.Core[0].Courses;
                    if (cores.length > 0) {
                        // Looping through the course list for Majors
                        for (var i = 0; i < cores.length; i++) {
                            $scope.cores.push({"code":cores[i],"selected":false,"grade":null});
                        }

                    }


                });
            }
        };
            //Once the Minor is selected -- load all the core courses
        $scope.LoadMinors=function(program)
        {
            if(program!=null)
            {
                $scope.certificate = "";
                $scope.major = "";
                $scope.student_program = program._id[0];
                $scope.cores = []
                $http.post('http://localhost:3000/api/req'
                        , {'id': program._id[0]}).success(function (result) {

                    cores = result.CoursesList[0].Courses;
                    if (cores.length > 0) {
                        //Looping through the course list for minors
                        for (var i = 0; i < result.length; i++) {
                            $scope.cores.push({"code":result.CoursesList[i],"selected":false,"grade":null});
                        }
                    }

                });
            }
        };
            //Once the Certificate is selected -- load all the core courses
        $scope.LoadCertificates=function(program)
        {
            if(program!=null)
            {
                $scope.major = "";
                $scope.minor = "";
                $scope.student_program = program._id[0];
                $scope.cores = []
                $http.post('http://localhost:3000/api/req'
                        , {'id': program._id[0]}).success(function (result) {
                    for (var i = 0; i < result.CoursesList.length; i++) {
                        for (var j = 0; j < result.CoursesList[i].Courses.length; j++) {
                            $scope.cores.push({"code":result.CoursesList[i].Courses[j],"selected":false,"grade":null});
                        }
                    }

                });
            }
        };
        ////Once the department is selected -- load all the programs
        $scope.loadPrograms=function(department)
        {
            if(department!=null)
            {
                $scope.majors = []
                $scope.minors = []
                $scope.certificates = []
                $http.post('http://localhost:3000/api/programs'
                        , {'department': department}).success(function (result) {

                    for (i = 0; i < result.length; i++) {
                        type = [result[i].Type]
                        if (type == "Major")
                            $scope.majors.push({"Title": [result[i].Title], "_id": [result[i]._id]});
                        else if (type == "Minor")
                            $scope.minors.push({"Title": [result[i].Title], "_id": [result[i]._id]});
                        else if (type == "Certificate")
                            $scope.certificates.push({"Title": [result[i].Title], "_id": [result[i]._id]});


                    }


                });
            }
        };





        $scope.CheckExistingAccounts = function(email)
        {
            $scope.emailexist='';
            $scope.student_email =null
            var res = /[A-Z][A-Z][A-Z][A-Z]?[A-Z]?[A-Z]?[A-Z]?[A-Z]?@(stevens\.edu)/i.exec(email);
           if(res!=null)
           {
            $http.post('http://localhost:3000/api/checkAccount',{'Email':email}).success(function(result)
            {

                if(result.Account=='exist')
                {
                    $scope.emailexist="Account already Exist";
                    $scope.student_email =null
                }

                else
                {
                    $scope.emailexist="Email is good";
                    $scope.student_email = email
                }
            });
        }
        else
           {
               $scope.emailexist = "Email not valid";
               $scope.student_email=null
           }
        }
        $scope.Checkpassword = function()
        {
            $scope.passcheck='';
            $scope.student_password =null
            if($scope.password!=null)
            {
                if($scope.password.length>=4)
                {
                    $scope.passcheck ="Password is good";
                    $scope.student_password=$scope.password;

                }
                else
                {
                    $scope.passcheck ="Please enter a valid password";
                    $scope.student_password=null
                }
            }
        }
        $scope.CheckConfirm=function()
        {
            if($scope.password==$scope.passconfirm)
            {
                $scope.confirmcheck.color='#69F0AE';
                $scope.confirmcheck="confirmation is matched";
                $scope.password_confirmed = true;
            }
            else
            {
                $scope.confirmcheck="confirmation mismatch";
                $scope.password_confirmed = false;
            }
        }
        //Update the core list when the user check/uncheck the core courses list
        $scope.coreUpdate = function()
        {
            $scope.student_cores=[];
            for(c=0;c<$scope.cores.length;c++)
            {
                if($scope.cores[c].selected)
                {
                    $scope.student_cores.push({"core":$scope.cores[c].code,"grade":$scope.cores[c].grade})
                }

            }
        }


        $scope.electives = [
            {id: 'elective1','name':'','code':'',"found":false,"grade":null},
            {id: 'elective2','name':'','code':'',"found":false,"grade":null},
            {id: 'elective3','name':'','code':'',"found":false,"grade":null}
                        ];
        $scope.addNewElective=function()
        {
            var newItemNo = $scope.electives.length+1;
            $scope.electives.push({'id':'elective'+newItemNo,'name':'','code':'',"found":false,"grade":null});
        };
        $scope.GetClassName = function(id,code)
        {

                var electives = $scope.electives;
                for (var i = 0; i < electives.length; i++)
                {
                    if (electives[i].id == id)
                    {
                        electives[i].name = '';
                        if(/\S/.test(code))
                        {
                        code = code.toUpperCase();
                        var res = /[A-Z][A-Z]?[A-Z]?[A-Z]?\s*[0-9][0-9]?[0-9]?[0-9]?/.exec(code);
                        if (res != null && res.length > 0)
                        {
                            $scope.index = i;
                            $http.post('http://localhost:3000/api/course', {'course_code': code}).success(function (result) {
                                if (result.length > 0)
                                {
                                    electives[$scope.index].name = result[0].Title;
                                    electives[$scope.index].found = true;
                                }
                                else
                                {
                                    electives[$scope.index].name = "Class don't exist";
                                    electives[$scope.index].found = false;
                                }
                            });
                        }
                        else {
                            electives[i].name = "Wrong Code";
                            electives[i].found = false;
                        }

                        }
                    }

                }

            }




        $scope.submit=function()
        {
            for(i=0;i<$scope.electives.length;i++)
            {
                if($scope.electives[i].found)
                $scope.student_electives.push({"elective":$scope.electives[i].code,"grade":$scope.electives[i].grade})
            }
            $scope.student_advisor = $scope.advisor;
            Grades = []
            for(i=0;i<$scope.student_cores.length;i++)
            {
                Grades.push({i:{"Course Code":$scope.student_cores[i].code,"Grade":$scope.student_cores[i].grade}})
            }
            i=i+1;
            for(j=0;j<$scope.student_electives.length;j++,i++)
            {
                Grades.push({i:{"Course Code":$scope.student_electives[j].code,"Grade":$scope.student_electives[j].grade}})
            }

                $http.post('http://localhost:3000/api/register',
                        {
                            'name': $scope.firstname+" "+ $scope.lastname,
                            'major': $scope.student_program,
                            'Grades': Grades,
                            'Email': $scope.student_email,
                            'password': $scope.student_password,
                            'Advisor': $scope.student_advisor,


                        }).success(function ()
                            {

                            });

            }
        //}

    });

</script>
<center>
<form class="form-group" action=''  ng-app="depApp" ng-controller="dropdownDepartments" ng-submit="submit()"b>
    <fieldset>
        <div id="legend">
            <legend class="">Register</legend>
        </div>
        <div class="form-group">
            <!-- Username -->
            <label class="control-label"  for="First Name">First Name</label>
                <input type="text" id="firstname" ng-model="firstname" placeholder="" class="input-xlarge" required>
            <br>
            <label class="control-label"  for="Last Name">Last Name</label>
                 <input type="text" id="lastname" ng-model="lastname" placeholder="" class="input-xlarge" required>
            <br>
            <!-- E-mail -->
            <label class="control-label" for="email">Stevens E-mail</label>
                <input type="text" ng-change="CheckExistingAccounts(email)" id="email" ng-model="email" placeholder="" class="input-xlarge" required>
            <span class="control-label" for="email" ng-model="emailexist">{{emailexist}}</span>


        </div>



        <div class="form-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="form-group">
                <input type="password" id="password" ng-model="password" class="input-xlarge" ng-change="Checkpassword()" required>
                <span class="control-label" ng-model="passcheck">{{passcheck}}</span>
                <p class="help-block">Password should be at least 4 characters</p>
            </div>
        </div>

        <div class="form-group">
            <!-- Password -->
            <label class="control-label"  for="password_confirm">Password (Confirm)</label>
            <div class="form-group">
                <input type="password"  id="password_confirm"  ng-model="passconfirm" class="input-xlarge" ng-change="CheckConfirm()" required>
                <span class="control-label" ng-model="confirmcheck" color={{confirmcheck.color}}>{{confirmcheck}}</span>
            </div>
        </div>
        <label>Select Your Advisor</label>
        <label>Advisors:</label>
        <select  ng-model="advisor"   ng-options="a for a in advisors" required>
        </select>
        <br>
        <br>
        <label for="dept">Departments: </label>
        <select id="dept" style="width: 20em;" ng-model="department" ng-change="loadPrograms(department)"  ng-options="d for d in departments">
        </select>
        <br>
        <br>

        <label>Majors: </label>
        <select  style="width: 20em;" ng-model="major" ng-change="LoadMajors(major)" ng-options="p.Title for p in majors">
        </select>

        <label>Minors: </label>
        <select   style="width: 20em;" ng-model="minor" ng-change="LoadMinors(minor)" ng-options="p.Title for p in minors">
        </select>

        <label>Certificates: </label>
        <select   style="width: 20em;" ng-model="certificate" ng-change="LoadCertificates(certificate)" ng-options="p.Title for p in certificates">
        </select>

        <div class="form-group">
            <label>Core Classes</label>
            <div ng-repeat="core in cores">

                <input type="checkbox" ng-model="core.selected" ng-change="coreUpdate()">{{core.code}}</input>
                <select ng-model="core.grade" ng-show="core.selected">
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                </select>
            </div>

        </div>
        <div class="form-group">
        <label>Electives</label>
        <div ng-repeat="elective in electives">
            <span ng-model="elective.name">{{elective.name}}</span>
            <input type="text" ng-model="elective.code" name="" ng-change="GetClassName(elective.id,elective.code)"  placeholder="Ex: SW 555">
            <select ng-model="elective.grade" ng-show="elective.found">
                <option value="A">A</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B">B</option>
                <option value="B-">B-</option>
                <option value="C+">C+</option>
                <option value="C">C</option>
                <option value="C-">C-</option>
                <option value="D+">D+</option>
                <option value="D">D</option>
                <option value="F">F</option>
            </select>
        </div>
            <button type="button" ng-click="addNewElective()">Add More</button>
        </div>
        <div class="form-group">
            <!-- Button -->
            <div class="form-group">
                <input type="submit">
            </div>
        </div>
    </fieldset>
</form>
</center>



</body>
</html>