<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>Virtual Advisor</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <% var menu = 5; %>
        <% include menu.ejs%>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Welcome <%= userName%>.</h2>

                    </div>
                </div>              
                 <!-- /. ROW  -->
				                  <!-- /. ROW  -->
                 <hr />
                
                <!-- Student Profile -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-lg">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-8 col-md-10" ng-app="userProfileApp" ng-controller="UserProfileController">
                        <script>
                    var app = angular.module('userProfileApp', []);
                    app.controller('UserProfileController', function ($scope, $http){
							$scope.profile = [];
						     $http.post('http://localhost:3000/UserProfile'
                                    ,'').success(function(result)
                                    {
                                        $scope.profile = result[0]; 
										console.log($scope.profile.Email)
                                    });
					});
			             </script>
                        <h4>
                            <%= userName%></h4>
                        <small><cite title="San Francisco, USA"> San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p style="font-family:sans-serif;font-size:14pt"> Stevens ID: 10103<br>
                            Major: Master of Science in Computer Science <br>
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> BaldwinC@stevens.edu
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com"> www.virtualadvisor.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i> June 02, 1992</p>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Social</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Google +</a></li>
                                <li><a href="#">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--                                 
            <div class="row" ng-app="courseAdvisorApp" ng-controller="courseAdvisorController">
			<script>
                    var app = angular.module('courseAdvisorApp', []);
                    app.controller('courseAdvisorController', function ($scope, $http){
							$scope.concentration = [];
                            $scope.temp = [];
						     $http.post('http://localhost:3000/api/programs/courseAdvisor'
                                    ,{ 	'name': 'Baldwin C' }).success(function(result)
                                    {
                                        $scope.concentration = result; 
										console.log(result[0])
                                    });
					});
			</script>
                <div class="col-md-4 col-sm-4" ng-repeat="a in concentration">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="font-family:sans-serif;font-size:14pt">
                            Concentration: {{a.Title}}
                        </div>
                        <div class="panel-body" style="font-family:sans-serif;font-size:11pt">
                            Courses: <span style="display:inline" ng-repeat="b in a.Courses">{{b + ","}}</span><br>
                             Required: {{a.Required}}
                        </div>
                    </div>
                </div>
            </div>-->
   
                 <!-- /. ROW  -->       
                 <!-- /. ROW  -->
                
                 <!-- /. ROW  -->
               
             
                    
                 <!-- /. ROW  -->
                  
                 <!-- /. ROW  -->           
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/js/morris/morris.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    
   
</body>
</html>
